@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;600;900&family=Roboto+Serif:opsz,wght@8..144,400;8..144,700;8..144,900&display=swap');

/*font-family: 'Inknut Antiqua', serif;
font-family: 'Roboto Serif', serif;*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Inknut Antiqua', serif;
}

/*header*/

.logo {
    display: inline;
    align-items: center;
}

.logo img {
    height: 100px;
    margin: 20px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, hsla(196, 38%, 92%, 1) 0%, hsla(216, 80%, 76%, 1) 48%, rgb(46, 94, 170) 100%);
    justify-content: space-between;
    top: 0;
    align-items: center;

}

.header a:hover {
    color: rgb(60, 233, 44);
    font-weight: bold;
}

.btn-outline-success {
    --bs-btn-color: #ffffff !important;
    --bs-btn-border-color: white !important;
    --bs-btn-hover-bg: rgb(60, 233, 44) !important;

}

a:hover {
    color: rgb(60, 233, 44);
}

/*main de mis html*/
.titulo-html {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 400px;
    color: rgb(60, 233, 44);

}


.imagen-fondo {
    display: flex;
    margin: 0;
    background-image: url(../img/galeria/encabezado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    flex-direction: column;


} /*index*/

.banner {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    flex-direction: column;
    border: white 2px solid;
}

.banner iframe {
    margin: 0px;
    padding: 0px;
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}


h2 {

    align-items: center;
    text-align: center;
    font-family: Roboto;
    color: white;
    font-size: 30px;
    font-weight: 400px;

}


.texto-introductorio {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    color: white;
    padding: 20px;
    flex-direction: column;
    background-color: #80808073;
}



.row-index {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    flex-direction: row;

}

.row-index img {
    align-items: center;
    width: 300px;
    height:300px;
    margin: 10px;
    border-radius: 10px;
    border: white 3px solid;

}
.grid-container-index{
    margin-bottom: 40px;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    background-color: rgba(211, 211, 211, 0.438);
    color: white;
}


.grid-container-index img {
    border-radius: 10px;
    width: 400px;
    height:450px;
    border: white 3px solid;
    align-items: center;
}


.carousel-caption h3 {
    display: flex;
    flex-direction: column;
    font-weight: bold;

}


.carousel-item {
    float: center;
    padding: 30px;
    width: 450px;
    transition: transform .6s ease-in-out;
}


/*footer*/

.colorfooter {

    background: linear-gradient(90deg, hsla(196, 38%, 92%, 1) 0%, hsla(216, 80%, 76%, 1) 48%, rgb(46, 94, 170) 100%);
}

.color-texto-footer {
    color: white;
    font-size: 15px;
}

.row{
    align-items: center;
}


h3 {
    display: flex;
    align-items: center;
    font-weight: 200;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: Inknut;
}

.tituloMapa {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.tituloMapa h3 {
    margin: 5px;
    padding: 5px;
    align-items: center;
    font-weight: bold;
}

h4 {
    display: inline;
    color: white;
    font-size: 16px;
    font-weight: 100px;
    justify-content: space-between;
    margin-right: 30px;

}

.fa-instagram{
   color:white;
}

.fa-whatsapp{
    color: white;
}

.fa-instagram:hover{
    color: rgb(60, 233, 44);
 }

 .fa-whatsapp:hover{
    color: rgb(60, 233, 44);
}


/*Contacto*/

.formulario {
    margin: 0;
    padding: 0;
    display: flex;
    border: white;
    font-weight: bold;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: row;
    flex-direction: column;
    align-items: center;


}

input:focus{
    border-radius: 10px;
    background-color: #808080e1;
    color: white;
    transition: 0.8s;
    font-weight: bold;
}

select:focus{
border-radius: 10px;
    background-color:#808080e1;
    color:white;
    transition: 0.8s;
    font-weight: bold;
}

textarea:focus{
border-radius: 10px;
    background-color: #808080e1;
    color: white;
    transition: 0.8s;
    font-weight: bold;
}


.formulario h3 {
    margin: 0;
    padding: 0;
    display: inline;
    font-family: Roboto;
    color: white;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.formulario h4 {
    display: flex;
    color: white;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    margin-right: 30px;
}

.items-formulario {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-family: Roboto;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: white 3px solid;
    border-radius: 10px;
    background-color: #808080a6;
    box-shadow: inset 1px 1px 20px 4px;

}


.appFlobi {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border: white 4px solid;
    text-align: center;
    align-content: flex-start;
    flex-direction: column;
    max-width:550px;
}

.appFlobi img {
    border: white 2px solid;

}

.appFlobi h4 {
    font-size: 20px;
} 

/*Galeria de imagenes y videos*/
.grid-container-galeria {
    max-width: 850px;
    margin: 0 auto;
    display: grid;
    padding:20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;

}

.grid-container-galeria img {
    margin:10px;
    height: 250px;
    border-radius: 10px;
    border: white 3px solid;

}
.grid-container-galeria img:hover{
    transform: scale(1.2, 1.2);
    transition: 0.3s;
}

.galeriaVideos {
    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    border: white 2px solid;
    background-color: rgba(211, 211, 211, 0.295);
}

.galeriaVideos iframe {
    margin-bottom: 30px;
    padding: 0px;
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


/*Tabla*/
.etapas {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-fluid-tabla {
    display:flex;
    width: 100%;
    text-align: center;
    opacity: 0.9;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.tamanio-tabla {
    max-width: 850px;
}


.encabezado-etapa {
    display: flex;
    color: white;
    font-size: 20px;
    text-align: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

/*galeria*/


 /*Sponsors*/
.grid-container-sponsors {
    max-width: 100%;
    margin-bottom: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    background-color: rgba(211, 211, 211, 0.438);
}


/*KEYFRAMES*/

/* ----------------------------------------------
 * Generated by Animista on 2022-8-20 13:42:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-shadow-pop-right
 * ----------------------------------------
 */
 @-webkit-keyframes text-shadow-pop-right {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      text-shadow: 1px 0 #555555, 2px 0 #555555, 3px 0 #555555, 4px 0 #555555, 5px 0 #555555, 6px 0 #555555, 7px 0 #555555, 8px 0 #555555;
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes text-shadow-pop-right {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      text-shadow: 1px 0 #555555, 2px 0 #555555, 3px 0 #555555, 4px 0 #555555, 5px 0 #555555, 6px 0 #555555, 7px 0 #555555, 8px 0 #555555;
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2022-8-20 13:52:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }



  /*App de contacto*/
  /* ----------------------------------------------
 * Generated by Animista on 2022-8-20 20:7:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

@media(max-width:1065px) {
    .header {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }

    h2 {
        font-size: 16px;
    }
}

@media(max-width:830px) {
    
    .row-index img {
        width:200px;
        height:200px;
    }

    .grid-container-galeria {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container-galeria img {
        height: 200px;
    }

    .encabezado-etapa {

        font-size: 15px;

    }


    .grid-container-sponsors {
         grid-template-columns: repeat(2, 1fr);
    }

    .grid-container-sponsors img {
        height: 200px;
    }
}


@media(max-width:634px) {
    .header {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }

    .texto-introductorio {
        font-size: 12px;
    }

    .imgIzq {
        display: flex;
        height: 150px;
        width: 150px;
        border: white 2px solid;

    }

    .imgDer {
        display: flex;
        height: 150px;
        width: 150px;
        border: white 2px solid;

    }

    h2 {
        font-size: 12px;
    }

    .grid-container-index h3{
        display: flex;
        flex-direction: column;
        font-size:10px;
    }
    .grid-container-index img {
        width: 250px;
        height:280px;
    }

    .carousel-item {
        padding: 30px;
        width: 300px;
    }
    


}

@media(max-width:520px) {
    .row-index{
        flex-direction: column;
    }
   
    .grid-container-galeria {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-container-sponsors {
        grid-template-columns: repeat(1, 1fr);
   }

   .grid-container-sponsors img {
       height: 200px;
   }

   .tamanio-tabla {
    max-width: 450px;
    font-size: 14px;
}


}

@media(max-width:375px) {
    .banner iframe {
        overflow: hidden;
        width: 100%;
        height: 150px;
    }

    .encabezado-etapa {

        font-size: 10px;

    }

    .formulario h3 {
        font-size: 14px;
    }

    .items-formulario {
        display: flex;
        margin: 5px;
        padding: 5px;
        font-family: Roboto;
        font-weight: bold;
        color: white;
        font-size: 12px;
        border: white 2px solid;
        border-radius: 5px;
        background-color: #808080a6;
        box-shadow: inset 1px 1px 20px 4px;
        flex-direction: column;
    }

    .formulario h4 {
        font-size: 12px;
        margin-right: 30px;
    }

    .grid-container-sponsors img {
        height: 150px;
    }

    .galeriaVideos iframe {
        width: 200px;
        height: 200px;
      
    }

    .tamanio-tabla {
        max-width: 350px;
        font-size: 12px;
    }

    .imgIzq {
        display: flex;
        height: 150px;
        width: 100px;
        border: white 2px solid;

    }

    .imgDer {
        display: flex;
        height: 150px;
        width: 100px;
        border: white 2px solid;

    }

}


