@media (max-width: 1065px) {
  .footer {
    flex-direction: column;
  }

  h2 {
    font-size: 16px;
  }
}

@media (max-width: 830px) {
  .card-container {
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    flex-direction: column;
    .video-container {
      width: 100%;
      iframe {
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
      }
    }
    .text-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
      h5 {
        font-size: 20px;
      }
      p {
        font-size: 15px;
      }
    }
  }

  .formulario {
    width: 400px;
    .items-formulario {
      display: flex;
      margin: 5px;
      padding: 5px;
      width: 400px;
      font-family: Roboto;
      font-weight: bold;
      color: white;
      font-size: 12px;
      border: white 2px solid;
      border-radius: 5px;
      background-color: #808080a6;
      box-shadow: inset 1px 1px 20px 4px;
      flex-direction: column;
    }
    input {
      max-width: 300px;
    }
    h4 {
      font-size: 12px;
      margin-right: 30px;
    }
  }

  .encabezado-etapa {
    font-size: 15px;
  }

  .grid-container-sponsors {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-container-sponsors img {
    width: 100%;
  }
  .grid-container-galeria {
    grid-template-columns: repeat(2, 1fr);
    img {
      margin: 20px;
      object-fit: contain;
      height: 250px;
      border-radius: 10px;
      border: white 3px solid;
      &:hover {
        transform: scale(1.1, 1.1);
        transition: 0.3s;
      }
    }
    h5 {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      width: 80%;
      padding: 5px;
      margin: 0 auto;
      border-radius: 5px;
      color: white;
      font-size: 15px;
      text-align: center;
      text-shadow: rgb(154, 195, 57) 0.1em 0.1em 0.2em;
    }
  }
}

@media (max-width: 634px) {
  .footer {
    flex-direction: column;
  }

  h2 {
    font-size: 12px;
  }

  .grid-container-carrusel-galeria {
    margin-bottom: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    color: white;
    img {
      border-radius: 10px;
      width: 250px;
      height: 250px;
      border: white 3px solid;
      align-items: center;
    }
    .carousel-inner {
      position: relative;
      width: 300px;
      overflow: hidden;
    }
  }

  .grid-container-index img {
    width: 250px;
    height: 280px;
  }

  .carousel-item {
    padding: 30px;
    width: 300px;
    img {
      width: 100%;
      height: 300px;
      align-items: center;
      object-fit: contain;
    }
    .carrusel-caption h3 {
      position: absolute;
      font-size: 12px;
      width: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 100px;
      color: #fff;
      text-align: center;
      text-shadow: rgb(154, 195, 57) 0.1em 0.1em 0.2em;
    }
  }

  .grid-container-etapas {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-container-sponsors-woman {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .grid-container-etapas img {
    width: 250px;
    &:hover {
      transform: scale(1.5, 1.5);
      transition: 0.5s;
    }
  }
}

@media (max-width: 520px) {
  .card-container {
    width: 300px;
  }

  .formulario {
    width: 300px;
    .items-formulario {
      width: 300px;
    }
    input {
      max-width: 250px;
    }
    h4 {
      font-size: 12px;
      margin-right: 30px;
    }
  }
  .grid-container-galeria {
    grid-template-columns: repeat(1, 1fr);
    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
    img {
      margin: 20px;
      object-fit: contain;
      height: 200px;
      border-radius: 10px;
      border: white 3px solid;
      &:hover {
        transform: scale(1.1, 1.1);
        transition: 0.3s;
      }
    }
    h5 {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      width: 80%;
      padding: 5px;
      margin: 0 auto;
      border-radius: 5px;
      color: white;
      font-size: 12px;
      text-align: center;
      text-shadow: rgb(154, 195, 57) 0.1em 0.1em 0.2em;
    }
  }

  .grid-container-sponsors {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }


  .tamanio-tabla {
    max-width: 450px;
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .header {
    width: 300px;
    .logo img {
      width: 100px;
      height: 50px;
    }
  }
  .navbar-toggler-iconn {
    color: $verde !important;
  }

  .nav-link {
    color: $verde;
  }

  main {
    .titulo-html {
      font-size: 18px;
    }
    .sub-titulo-html {
      font-size: 16px !important;
    }
  }

  .grid-container-index {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    margin: 0 auto;
    max-width: 300px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    color: white;
    .titulo-carrusel {
      font-size: 20px;
      text-align: center;
      text-shadow: rgb(154, 195, 57) 0.1em 0.1em 0.2em;
    }
    .carousel-item {
      padding: 30px;
      width: 300px;
      img {
        width: 100%;
        height: 400px;
        align-items: center;
        object-fit: contain;
      }
      .carrusel-caption h3 {
        position: absolute;
        font-size: 12px;
        width: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 70px;
        color: #fff;
        text-align: center;
        text-shadow: rgb(154, 195, 57) 0.1em 0.1em 0.2em;
      }
    }
  }
  .grid-container-etapas {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-container-etapas img {
    width: 220px;
    &:hover {
      transform: scale(1.4, 1.4);
      transition: 0.5s;
    }
  }

  .encabezado-etapa {
    font-size: 10px;
  }

  .formulario h3 {
    font-size: 14px;
  }

  .tamanio-tabla {
    max-width: 350px;
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  .card-container {
    display: flex;
    width: 250px;
  }
  main {
    .titulo-html {
      font-size: 15px;
    }
    .sub-titulo-html {
      font-size: 12px !important;
    }
  }
  .carousel-item {
    padding: 30px;
    width: 200px;
    img {
      width: 100%;
      height: 300px;
      align-items: center;
      object-fit: contain;
    }
    .carrusel-caption h3 {
      position: absolute;
      font-size: 10px;
      width: 80%;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 70px;
      color: #fff;
      text-align: center;
      text-shadow: rgb(154, 195, 57) 0.1em 0.1em 0.2em;
    }
  }
  .grid-container-carrusel-galeria {
    margin-bottom: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    color: white;
    img {
      border-radius: 10px;
      width: 250px;
      height: 250px;
      border: white 3px solid;
      align-items: center;
    }
    .carousel-inner {
      position: relative;
      width: 250px;
      overflow: hidden;
    }
  }

  .formulario {
    width: 270px;
    .items-formulario {
      width: 250px;
    }
    input {
      max-width: 220px;
    }
  }

  .grid-container-etapas img {
    width: 200px;
    &:hover {
      transform: scale(1.3, 1.3);
    }
  }

  footer {
    min-height: 5vh;
    z-index: 1;
    .color-texto-footer {
      color: white;
      font-size: 12px;
      font-weight: bold;
      &:hover {
        color: $verde;
      }
    }

    .row {
      align-items: center;
      h3 {
        display: flex;
        align-items: center;
        font-weight: bold;
        text-align: center;
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        font-family: Inknut;
      }
    }

    .tituloMapa {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        margin: 5px;
        padding: 5px;
        align-items: center;
        font-weight: bold;
      }
    }
    ul {
      list-style: none;

      .fa-instagram {
        color: white;
      }
      .fa-instagram:hover {
        color: $verde;
      }

      .fa-whatsapp {
        color: white;
      }
      .fa-whatsapp:hover {
        color: $verde;
      }
    }
    img {
      margin-top: 10px;
      height: 50px;
      vertical-align: middle;
      &:hover {
        transform: scale(1.1, 1.1);
        transition: all 300ms;
      }
    }
  }
  .grid-container-galeria {
    grid-template-columns: repeat(1, 1fr);
    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
    img {
      margin: 20px;
      object-fit: contain;
      height: 200px;
      border-radius: 10px;
      border: white 3px solid;
      &:hover {
        transform: scale(1.1, 1.1);
        transition: 0.3s;
      }
    }
    h5 {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      width: 80%;
      padding: 5px;
      margin: 0 auto;
      border-radius: 5px;
      color: white;
      font-size: 12px;
      text-align: center;
      text-shadow: rgb(154, 195, 57) 0.1em 0.1em 0.2em;
    }
  }
}
