//paleta de colores header y footer//

$azulado: linear-gradient(
  90deg,
  rgba(178,189,233,1)  0%,
  rgba(49, 80, 182, 1) 60%,
  rgba(34, 48, 109, 1) 100%
);

$verde: rgb(154, 195, 57);

//Extend//
%estiloImagenFondo {
  display: flex;
  margin: 0;
  background-image: url(../img/galeria/encabezado.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  flex-direction: column;
}

%tituloPaginas {
  font-family: inknut antiqua;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 400px;
  color: $verde;
}

@mixin flex-grid-center {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 0.5fr);
  grid-row-gap: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
