//paleta de colores header y footer//

$azulado: linear-gradient(
  90deg,
  hsla(196, 38%, 92%, 1) 0%,
  hsla(216, 80%, 76%, 1) 48%,
  rgb(46, 94, 170) 100%
);

$verde:rgb(128,185,24);

//Extend//
%estiloImagenFondo {
  display: flex;
  margin: 0;
  background-image: url(../img/galeria/encabezado.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  flex-direction: column;
}

%tituloPaginas {
  font-family: inknut antiqua;
  margin: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: 400px;
  color: $verde;
}

@mixin flex-grid-center {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 0.5fr);
  grid-row-gap: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
