//Formulario de contacto//
.formulario {
  margin: 0 auto;
  padding: 0;
  max-width: 600px;
  display: flex;
  border: white;
  font-weight: bold;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: row;
  flex-direction: column;
  align-items: center;
  form {
    display: flex;
    margin: 0 auto;
    max-width: 550px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  input {
    display: flex;
    width: 550px;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    &:focus {
      border-radius: 10px;
      background-color: #808080e1;
      color: white;
      transition: 0.8s;
      font-weight: bold;
    }
  }
  select {
    border-radius: 5px;
    &:focus {
      border-radius: 10px;
      background-color: #808080e1;
      color: white;
      transition: 0.8s;
      font-weight: bold;
    }
  }
  textarea {
    border-radius: 5px;
    &:focus {
      border-radius: 10px;
      background-color: #808080e1;
      color: white;
      transition: 0.8s;
      font-weight: bold;
    }
  }
  h3 {
    margin: 0;
    padding: 0;
    display: inline;
    font-family: Roboto;
    color: white;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
  }
  h4 {
    display: flex;
    color: white;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    margin-right: 30px;
  }
  .items-formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 600px;
    font-family: Roboto;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: white 3px solid;
    border-radius: 10px;
    background-color: #808080a6;
    box-shadow: inset 1px 1px 20px 4px;
  }

  .button {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    font-size: 20px;
    align-self: center;
    border-radius: 8px;
    background: $verde;
    color: white;
    box-shadow: 3px -2px 4px 1px #222121;
    border: none;
  }
}

.card-app {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  align-content: flex-start;
  flex-direction: column;
  max-width: 550px;
  img {
    border: white 2px solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.561);
  }
  h4 {
    font-size: 20px;
    color: white;
  }
}
