.grid-container-carrusel-galeria {
  margin-bottom: 40px;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 10px;
  color: white;
  img {
    border-radius: 10px;
    width: 200px;
    height: 250px;
    border: white 3px solid;
    align-items: center;
  }
  .carousel-inner {
    position: relative;
    width: 250px;
    overflow: hidden;
  }
}

.grid-container-galeria {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  @include flex-grid-center;
  img {
    margin: 10px;
    object-fit: contain;
    height: 250px;
    border-radius: 10px;
    border: white 3px solid;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: 0.3s;
    }
  }
}

.galeriaVideos {
  display: flex;
  margin-top: 30px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: white 2px solid;
  border-radius: 30px;
  background-color: rgba(211, 211, 211, 0.295);
  iframe {
    margin: 0 auto;
    padding: 20px;
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}
