.grid-container-carrusel-galeria {
  margin-bottom: 20px;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  color: white;
  img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
    border: white 3px solid;
    align-items: center;
  }
  .carousel-inner {
    position: relative;
    width: 250px;
    overflow: hidden;
  }
}

.grid-container-galeria {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  justify-items: stretch;
  @include flex-grid-center;
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  img {
    margin: 20px;
    object-fit: contain;
    height: 300px;
    border-radius: 10px;
    border: white 3px solid;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: 0.3s;
    }
  }
  h5 {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-shadow: rgb(154, 195, 57) 0.1em 0.1em 0.2em;
  }
}
