.grid-container-sponsors {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

  @include flex-grid-center;
  img {
    object-fit: contain;
  }
  .card {
    padding: 20px;
    height: 20rem;
    align-items: center;
    --bs-card-bg: rgba(46, 43, 43, 0.645);
    --bs-card-border-color: white;
    border-radius: 10px;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: all 300ms;
    }
    .card-body {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: 12px;
    }
    .card-img,
    .card-img-bottom,
    .card-img-top {
      max-height: 165px;
      img {
        object-fit: cover;
      }
    }

    .card-img{
      margin-top: 70px !important;
    }

    .btn-primary {
      --bs-btn-bg: rgb(154, 195, 57);
      --bs-btn-border-color: rgb(154, 195, 57);
      font-weight: bold;
      font-size: 12px;
      &:hover {
        color: $verde;
        background-color: white;
        border-color: $verde;
      }
    }
  }
}
